{% extends 'base.html.twig' %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{# {% block body %}
<h1>Tasks</h1>

<ul>
{% for d in data %}
    <li>
        {{ d.project.name }} ({{ d.project.id }})

        <ul>
            {% for task in d.tasks %}
                <li>{{ dump(task) }}</li>
            {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
{% endblock %}
 #}